.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom,rgba($color-light-green,0.8),rgba($color-dark-green,0.8)) ,url('../img/hero-small.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    font-size: 1.6rem;
    margin: 0;
    @media only screen and (min-resolution: 192dpi) and(min-width:37.5em),only screen and (-webkit-min-device-pixel-ratio:2) and(min-width:37.5em) ,only screen and (min-width:125em)   {
        background-image:linear-gradient(to right bottom,rgba($color-light-green,0.8),rgba($color-dark-green,0.8)) ,url('../img/hero.jpg');
    }
    
    @include respond(tab-port){
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
    @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
    &_text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    &_logo-box{
        position: absolute;
        top: 10%;
        left: 6%;

        @include respond(tab-land){
            top: 6%;
            left: 5%;
        }
        @include respond(tab-port){
            top: 6%;
            left: 8%;
        }
    }
}

.logo{
    height: 5vh;
    &:hover{
        animation: pulse 0.5s;
    }
}



