.feature-box{
    background-color: rgba(255, 255, 240, 0.76);
    font-size: 1.5rem;
    padding:2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem #777;
    transition: all .3s;
    &_icon{
        font-size: 6rem;
        margin-bottom: 2rem;
        background-image: linear-gradient(to right,$color-light-green,$color-dark-green);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
    }
    &_text{

    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.05);
    }
}