.u-center-text{
    text-align: center;
}

.u-margin-bottom-big{
    margin-bottom: 8rem;
    @include respond(tab-port){
        margin-bottom: 6rem;
    }
    @include respond(phone){
        margin-bottom: 4rem;
    }
}

.u-margin-bottom-medium{
    margin-bottom: 5rem;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}

.u-margin-bottom-huge{
    margin-bottom: 10rem;
}

.u-margin-top-small{
    margin-top: 3rem;
}

.u-margin-top-very-small{
    margin-top: 1rem;
}

.u-margin-top-huge{
    margin-top: 10rem;
    @include respond(tab-port){
        margin-top: 1rem;
    }
}

.u-small-font-size{
    font-size: 1.4rem !important;
}